<div id="home">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="#">Plane Blame</a>
            </div>
          </div>
        <div class="col-md-8">
          <div class="navmenu"style="text-align: center;">
            <ul id="menu">
              <li class="active" ><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#project">Projects</a></li>
              <li><a href="#news">News</a></li>
              <li class="last"><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row wrap">
      <div class="col-md-12 gallery">
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h3>Denver International Airport Statistics</h3>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 project">
      <h3 id="counter"><%= @statistics.total_departures %></h3>
      <h4>Total Flights</h4>
    </div>
    <div class="col-md-4 project">
      <h3 id="counter1"><%= @statistics.total_on_time_departures %></h3>
      <h4>On Time Departures</h4>
      <p>Last Updated at <%= @statistics.last_updated_at %></p>
    </div>
    <div class="col-md-4 project">
      <h3 id="counter2" style="margin-left: 20px;"><%= @statistics.total_late_departures %></h3>
      <h4 style="margin-left: 20px;">Late Departures</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h4><strong>Current Delay Index at Denver International</strong></h4>
      <div id="delay" class="gauge"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h4><strong>Percentage of On-Time Departures for each Major Airline.</strong></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 bar">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(1) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="62">
            <span class="percent"></span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>Southwest</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
    <div class="col-md-3 bar">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(2) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="22">
            <span class="percent">22</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>United</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
    <div class="col-md-3 bar ">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(3) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="22">
            <span class="percent">84</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>Frontier</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
    <div class="col-md-3 bar ">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(4) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="45">
            <span class="percent">45</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>Delta</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 bar">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(5) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="64">
            <span class="percent">64</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>American</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
    <div class="col-md-4 bar">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(6) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="22">
            <span class="percent">22</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>Jet Blue</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
    <div class="col-md-4 bar ">
      <div class="progB chart" data-percent="<%= @statistics.airline_late_percentage(7) %>"  data-animate="3500">
        <div class="chart chart-content">
          <div class="percentage" data-percent="22">
            <span class="percent">84</span>
          </div>
        </div>
      </div>
      <div class="textP">
        <h3>Spirit</h3>
        <p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="lineBlack">
  <div class="container">
    <div class="row downLine">
      <div class="col-md-6 text-left copy">
        <p>Copyright &copy; 2015 PlaneBlame. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-right dm">
        <ul id="downMenu">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project1">Projects</a></li>
          <li><a href="#news">News</a></li>
          <li class="last"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
