<div id="home">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-6">
        </div>
        <div class="col-md-6">
          <div class="navmenu"style="text-align: center;">
            <ul id="menu">
              <li class="active" ><a href="#home">Home</a></li>
              <li><%= link_to "Search Airports","#search" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row wrap">
      <div class="col-md-12 gallery">
        <div class='col-md-6 logo'>
          <h2 id='welcome_to'>Welcome to</h2>
        </div>
        <div class='col-md-6 logo'>
          <h2 id='plane_blame'>Plane Blame</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h3>Plane Blame's Total Statistics</h3>
      <br>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 project">
      <h3 id="counter"><%= @statistics.total_departures %></h3>
      <h4>Total Flights Tracked</h4>
    </div>
    <div class="col-md-4 project">
      <h3 id="counter1"><%= @statistics.total_on_time_departures %></h3>
      <h4>Total On Time Departures</h4>

    </div>
    <div class="col-md-4 project">
      <h3 id="counter2" style="margin-left: 20px;"><%= @statistics.total_late_departures %></h3>
      <h4 style="margin-left: 20px;">Total Late Departures</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 cBusiness">
      <h3>The US's Best to Worst Airlines</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <button class="btn btn-lg btn-default btn-home" id='stat_button' type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Click Here for the Percentages</button>
    </div>
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="container col-md-offset-4 col-md-4">
    <br>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Airline</th>
        <th id='on_time'>On-Time Percentage<th>
      </tr>
      <% @statistics.total_percentage_and_name.each do |name| %>
        <tr>
          <td><%= name[1] %></td>
          <td align='right'><%= name[0] %>%</td>
      <% end %>
      </tr>
    </table>
  </div>
</div>








<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h3>Search the Major U.S. Airports Statistics Below</h3>
      <br>
    </div>
  </div>
</div>

<div class="col-sm-offset-3 col-sm-6 well" id='search_field'><a name='search'></a>
  <input name="search" class='form-control' id="select_origin" placeholder="ex. Denver International Airport"/>
  <input id="link_origin_id" name="link[origin_id]" type="hidden"/>
</div>

<div class="container">
  <div class="row" >
    <div class='col-md-12 cBusiness' id='airport_name'>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-md-4 project' id='airport_stats_1'>
    </div>

    <div class='col-md-4 project' id='airport_stats_2'>

    </div>

    <div class='col-md-4 project' id='airport_stats_3'>

    </div>
  </div>
</div>

<div class="container">
  <div class="row" id='delay_index'>
    <div id='loaderImg'>
      <img src="http://jimpunk.net/Loading/wp-content/uploads/loading1.gif" alt=""/>
    </div>
  </div>
</div>

<div class="container" >
  <div class='row'>
    <div class='col-md-12 cBusiness' id='airline_title'>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 bar" id="airline-0">
    </div>
    <div class="col-md-3 bar" id="airline-1">
    </div>
    <div class="col-md-3 bar" id="airline-2">
    </div>
    <div class="col-md-3 bar" id="airline-3">
    </div>
     <div class="col-md-3 bar" id="airline-4">
    </div>
     <div class="col-md-3 bar" id="airline-5">
    </div>
     <div class="col-md-3 bar" id="airline-6">
    </div>
     <div class="col-md-3 bar" id="airline-7">
    </div>
  </div>
</div>
<br>-

<div class='container disclaimer' id="disclaimer">
</div>
<br>
<br>
<%= render partial: 'layouts/footer' %>

