<div id="home">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-6">
        </div>
        <div class="col-md-6">
          <div class="navmenu"style="text-align: center;">
            <ul id="menu">
              <li class="active" ><a href="#home">Home</a></li>
              <li><%= link_to "Search Airports","#search" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrap">
      <div class="col-md-12 gallery">
        <div class='col-md-6 logo'>
          <h2 id='welcome_to'>Welcome to</h2>
        </div>
        <div class='col-md-6 logo'>
          <h2 id='plane_blame'>Plane Blame</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h3>Plane Blame's Total Statistics</h3>
      <br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 project odometer1">
      <h3 id="odometer" class="odometer">000</h3>
      <h4>Total Flights Tracked</h4>
    </div>
    <div class="col-md-4 project odometer2">
      <h3 id="odometer" class="odometer">000</h3>
      <h4>Total On Time Departures</h4>
    </div>
    <div class="col-md-4 project odometer3">
      <h3 id="odometer" class="odometer" style="margin-left: 20px;">000</h3>
      <h4 style="margin-left: 20px;">Total Late Departures</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 cBusiness">
      <h3>Major Airlines We Monitor</h3>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="sorts" class="button-group">
        <button class="button btn btn-md btn-default btn-home" data-sort-by="name">Airline</button>
        <button class="button btn btn-md btn-default btn-home" data-sort-by="number">On-time</button>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class='container'>
  <div class='col-md-12'>
    <div class="grid">
    <% @statistics.total_percentage_and_name.each_with_index do |name, index| %>
      <div class="element-item" data-category="transition">
        <div><%= image_tag("airline-#{index}.png", class: "image_aa")%></div>
        <h3 class="name" style="display: none;"><%= name[1] %></h3>
        <p class="number"><%= name[0] %>% On-Time</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 cBusiness">
      <h3>Search the Major U.S. Airports Statistics Below</h3>
      <br>
    </div>
  </div>
</div>
<div class="col-sm-offset-3 col-sm-6 well" id='search_field'><a name='search'></a>
  <input name="search" class='form-control' id="select_origin" placeholder="ex. Denver International Airport"/>
  <input id="link_origin_id" name="link[origin_id]" type="hidden"/>
</div>
<div class="container col-md-12 cBusiness">
  <div id='loaderImg'>
    <br><br>
    <%= image_tag("airplane.gif") %>
    <br><br>
  </div>
</div>
<div id='all_html'>
  <div class="container">
    <div class='col-md-12 cBusiness' align='center' id='airport_name'>
    </div>
    <div class='col-md-12' align='center' id='airline_data_range'></div>
  </div>
  <div class="container">
    <div class="row">
      <div class='col-md-4 project' id='airport_stats_1'>
      </div>
      <div class='col-md-4 project' id='airport_stats_2'>
      </div>
      <div class='col-md-4 project' id='airport_stats_3'>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id='delay_index'>
    </div>
    <div class='col-md-12' align='center' id='delay_key'></div>
  </div>
  <div class="container" >
    <div class='row'>
      <div class='col-md-12 cBusiness' id='airline_title'>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 bar" id="airline-0">
      </div>
      <div class="col-md-3 bar" id="airline-1">
      </div>
      <div class="col-md-3 bar" id="airline-2">
      </div>
      <div class="col-md-3 bar" id="airline-3">
      </div>
       <div class="col-md-3 bar" id="airline-4">
      </div>
       <div class="col-md-3 bar" id="airline-5">
      </div>
       <div class="col-md-3 bar" id="airline-6">
      </div>
       <div class="col-md-3 bar" id="airline-7">
      </div>
    </div>
  </div>
  <br>
  <div class='container disclaimer' id="disclaimer">
  </div>
</div>
<br>
<br>
<%= render partial: 'layouts/footer' %>
